<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Editar task {{ task.name }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="jumbotron jumbotron-fluid bg-info">
      <div class="container">
        <h1 class="display-5 text-white">Editar Task</h1>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-5 justify-content-center text-center">
            <div class="col-md-4 d-flex justify-content-center border border-primary rounded">

                <form class="form-group mt-5" method="post" action=" {% url 'task-save' %}">
                    {% csrf_token %}
                    <p class="form-text text-muted col-md-3"></p>
                    <p class="form-text text-muted col-md-3"></p>

                    <input class="form-control" type="text" name="task-id" id="task-id" value="{{ task.id }}" hidden>

                    <label for="name">Titulo</label>
                    <input class="form-control" type="text" name="name" id="name" value="{{ task.name }}">

                    <p class="form-text text-muted col-md-3"></p>
                    <p class="form-text text-muted col-md-3"></p>
                    <label for="description">Descrição</label>
                    <textarea class="form-control" type="text" name="description" id="description">{{ task.content }}</textarea>

                    <p class="form-text text-muted col-md-3"></p>
                    <p class="form-text text-muted col-md-3"></p>
                    <label for="status-options">Status</label>
                    <select name="status-id" id="status-options" class="form-control form-control-sm">
                        <option value="{{ task.status.id }}" selected>{{ task.status.name }}</option>
                        {% for st in status %}
                            <option value="{{ st.id }}">{{ st.name }}</option>
                        {% endfor %}
                    </select>

                    <p class="form-text text-muted col-md-3"></p>
                    <p class="form-text text-muted col-md-3"></p>
                    <button class="btn btn-success btn-sm btn-block mb-5"><i class="material-icons">done</i></button>
                </form>

            </div>
        </div>

         <div class="row mt-3 justify-content-center text-center">
            <div class="col-md-4 d-flex justify-content-center">
                <form class="from-group" method="post" action="/">
                    {% csrf_token %}
                    <button class="btn btn-info btn-sm btn-block mb-5" style="width: 90px;"title="voltar">
                        <i class="material-icons">keyboard_return</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>